{{#partial "content"}}
<h2><strong>Registered Animals</strong></h2>

    {{#if endangeredAnimals}}
        {{#partial "col-md-5"}}
        <h3>Registered Animals</h3>
        {{#each endangeredAnimals}}
                <p>{{name}}</p>
        {{/each}}
        {{/partial}}
    {{else}}
       <h3>No Registered Animals</h3>
    {{/if}}
{{/partial}}
{{>layout.hbs}}